:root {
    --bg-color: #000000 ;
    --font-color: #FFFFFF;
    --blue-sky: rgb(127,178,255);

}

/*
 * ─── INDEX OPTION HOVER ─────────────────────────────────────────────────────────
 */

.title {
    font-size: 3rem;
    position: relative;
    align-items: center;
}

.title::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 4px;
    background-color: black;
    left: 50%;
    bottom: -10px;
    transition: all 0.4s ease-in-out;
}

.contenedor a:hover .title::after {
    width: 100%;
    left: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a :hover {
    color: initial;
}

.contenedor a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-decoration: inherit;
}

.contenedor a img {
    width: 80%;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.contenedor a:hover img {
    width: 100%;
}


/*
 * ─── BUTTON HOVER ───────────────────────────────────────────────────────────────
 */


.btn-change{
    padding: 0.5em;
    background: var(--blue-sky);
    margin: 20px;
    float: left;
    box-shadow: 0 0 1px #ccc;
    transition: all 0.2s ease-in-out;
    border: 0px;
    color: #fff;
}
.btn-change:hover{
    transform: scale(1.1);
    background: #2587b8;
    color: #fff;
}
